<h2 style="text-align: center; margin-top: 20px;">Add Customers</h2>
<div style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
  <div>
    <form>
      <div class="form-outline mb-4">
        <input type="text" id="form2Example1" class="form-control" placeholder="First Name" name="fname" [(ngModel)]="firstName" ng-required/>
      </div>
      <div class="form-outline mb-4">
        <input type="text" id="form2Example2" class="form-control" placeholder="Street" name="street" [(ngModel)]="street"/>
      </div>
      <div class="form-outline mb-4">
        <input type="text" id="form2Example1" class="form-control" placeholder="City" name="city" [(ngModel)]="city"/>
      </div>
      <div class="form-outline mb-4">
        <input type="email" id="form2Example2" class="form-control" placeholder="Email" name="email" [(ngModel)]="email"/>
      </div>
    </form>
  </div>
  <div style="margin-left: 35px; margin-top:77px;">
    <form>
      <div class="form-outline mb-4">
        <input type="text" id="form2Example1" class="form-control" placeholder="Last Name" name="lname" [(ngModel)]="lastName" ng-required/>
      </div>
      <div class="form-outline mb-4">
        <input type="text" id="form2Example2" class="form-control" placeholder="Address" name="address" [(ngModel)]="address"/>
      </div>
      <div class="form-outline mb-4">
        <input type="text" id="form2Example1" class="form-control" placeholder="State" name="state" [(ngModel)]="state"/>
      </div>
      <div class="form-outline mb-4">
        <input type="text" id="form2Example2" class="form-control" placeholder="Phone" name="phone" [(ngModel)]="phone"/>
      </div>
    </form>
    <button style="margin-top: 15px; width: 140px; margin-left: 110px;" type="button" class="btn btn-primary btn-block mb-4" (click)="addCustomers()">Submit</button>
  </div>
</div>

<router-outlet></router-outlet>
